.wrapper{
    font-family: 'Arial', sans-serif;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0;
}
.card {
    width: 160px;
    height: 110px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: azure;
    transition: transform 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .card:hover {
    transform: scale(1.05) rotateY(90deg);
  } */

  .card img {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }

  .card-content {
    padding: 10px;
  }

  h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
  }
  .scores{
    display: flex;
    justify-content: space-evenly;
  }
